<%= form_for @survey, url: home_create_path do |f| %>
  <div>
    Name: <%= f.text_field :name %>
  </div>
  <div>
    Favorites:
    <ul>
      <li class="item">
        <%= f.check_box :chocolate %> I like <%= label_tag :chocolate %>
      </li>
      <li class="item">
        <%= f.check_box :rainbows %> I like <%= label_tag :rainbows %>
      </li>
      <li class="item">
        <%= f.check_box :puppies %> I like <%= label_tag :puppies %>
      </li>
      <% if Rails.env.development? %>
        <li class="item">
          <%= f.check_box :cash %> I like <%= label_tag :cash %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= f.submit %>
<% end %>
